*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Garamond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 320px;
    background-color: var(--md-sys-color-background);
    gap: 1rem;
    padding: 1rem 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--md-sys-color-surface-variant);
    border-radius: 1rem;
}

h1{
    color: var(--md-sys-color-primary);
}

#image{
    width: 512px;
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

#image-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

button{
    background-color: var(--md-sys-color-primary);
    color: white;
    outline: var(--md-sys-color-outline);
    border: none;
    cursor: pointer;
    width: fit-content;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

button:hover{
    filter: brightness(1.1);
}

#prediction{
    display: block;
}

footer{
    text-align: center;
}

@media screen and (max-width: 600px) {
    body{
        padding: 1rem;
    }
}
